/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
}

.nav-left img {
  width: 60px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 10px 0px;
  padding: 0;
}

.nav-left ul li {
  margin-left: 50px;
}
.nav-left ul li a {
  text-decoration: none;
  color: black;
}

.nav-left ul li .active {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.nav-right .active {
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.nav-right {
  margin: 10px 100px;
}

.nav-right button {
  border: none;
  color: white;
  background-color: black;
  padding: 5px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-right button a {
  color: white;
  text-decoration: none;
}

.hamburger {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#hamburger-button {
  display: none;
}

.countHam .active {
  color: black;
  font-weight: bold;
}

.hide {
  display: none !important;
}

#hamburger-bars {
  display: none;
}

.hamburger-bars {
  display: flex;
  flex-direction: column;
  background-color: #c5c5c5;
  text-align: center;
}

@media only screen and (max-width: 845px) {
  .nav-link {
    display: none;
  }

  .nav-right {
    display: none;
  }

  #hamburger-button {
    display: block;
    margin-right: 50px;
    border: none;
  }

  #hamburger-bars {
    display: block;
  }

  .countHam {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .countHam a {
    width: 30%;
    margin: 20px 0px;
    border: none;
  }

  .btnContact {
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 20px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
